<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
</head>
<body>
  

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>For a full featured asp.net core / vue template, have a look at <a href="https://github.com/Domitor/Intwenty">Intwenty</a></p>
            <p>&copy; 2021 - No rights reserved</p>
        </footer>
    </div>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
   <script src="https://unpkg.com/vue@3"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>