@page "/"
@model MiniCore.Pages.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Mini Core";
}

<div class="container" id="app">

    <h2>{{product.name}}</h1>
     <h4>A minimal reactive .net core (razor) example for vs code</h4>

    <img src="~/images/minicore.jpg" class="rounded m-3" width="500" >

    

    <h5>Dependencies / purpose</h5>
    <table class="table">
        <thead>
            <th>Dependency</th>
            <th>Version</th>
            <th>Purpose</th>
        </thead>
        <tbody>
            <tr  v-for="item in product.dependencies">
                <td>{{item.name}}</td>
                <td>{{item.version}}</td>
                <td>{{item.purpose}}</td>
            </tr>
        </tbody>
    </table>
   

</div>

@section Scripts
{

    <script>

       const SimpleVueApp = {
        data() {
            return {
            product:{}
            }
        },
        methods:
        {
            getProduct: function()
            {
                var context = this;
                var baseurl = '@Url.Content("~")';
                var endpointurl = baseurl + "?handler=List";
                $.get(endpointurl, function (response)
                {
                    context.product = response;
                });
            }
        },
        mounted() 
        {
            this.getProduct();
        }
    }

    Vue.createApp(SimpleVueApp).mount('#app')

    </script>

}